:root {
  --moduleCountSqrt: 3;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #eeeeee 1px, rgba(0, 0, 0, 0) 1px);
  background-color: #14181d;
  animation-name: movingBg;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
  overflow: hidden;
}

@keyframes movingBg {
  0%   {background-position: 0% 0%;}
  100% {background-position: 100vmin 100vmin;}
}

/*Make sure height and width formulas have the correct gap value.*/
#bomb {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 6px;
  background-color: #f1f6ff;
  width: calc((80vmin - 6px) * var(--moduleCountSqrt) - 6px);
  height: calc((80vmin - 6px) * var(--moduleCountSqrt) - 6px);
  border-radius: 16px;
  border: 6px solid #757575;
  margin: 0;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Make sure height and width formulas have the correct gap value from the bomb id.*/
.module {
  width: calc(100% / var(--moduleCountSqrt) - 6px);
  height: calc(100% / var(--moduleCountSqrt) - 6px);
  background-color: black;
  color: white;
}